<div class="d-flex align-items-center">
  <h4 class="mb-0">Team Settings</h4>

  <form class="ml-5">
    <div class="input-with-icon">
      <i class="fas fa-search"></i>
      <input type="text" name="query" [(ngModel)]="query" class="form-control" placeholder="Search teams" autofocus>
    </div>
    <button type="submit" class="btn btn-primary d-none"></button>
  </form>

  <div class="ml-auto">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-team-modal" (click)="setSelectedTeam({})">Add Team</button>
  </div>
</div>

<div class="team-settings-content mt-1">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>State</th>
          <th>Members</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!filteredTeams(currentOrganisationTeams).length">
          <td colspan="4" class="text-center">No teams found.</td>
        </tr>
        <tr *ngFor="let team of filteredTeams(currentOrganisationTeams)">
          <td>
            {{ team.name }}
          </td>
          <td>
            <span class="badge badge-info" *ngIf="team.state === 'pending'">pending</span>
            <span class="badge badge-warning" *ngIf="team.state === 'archived'">archived</span>
          </td>
          <td>{{ team.memberCount }} member{{team.memberCount > 1 ? 's':''}}</td>
          <td>
            <button type="button" class="btn btn-link text-primary" data-toggle="modal" data-target="#edit-team-modal" (click)="setSelectedTeam(team)">Edit</button>
            <!-- <button type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#delete-team-modal" (click)="setSelectedTeam(team)">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal name="new-team-modal" title="New Team" (saveClicked)="createTeam($event)" (cancelClicked)="cancelTeamCreation()">
  <div class="form-group row">
    <label for="team-name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input type="text" name="teamName" [(ngModel)]="selectedTeam.name" class="form-control">
    </div>
  </div>
</app-modal>

<app-modal name="edit-team-modal" title="Edit Team" (saveClicked)="updateTeam($event)">
  <div class="form-group row">
    <label for="team-name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input type="text" name="teamName" [(ngModel)]="selectedTeam.name" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="team-state" class="col-3 col-form-label">State</label>
    <div class="col-9">
      <select class="form-control" name="teamState" [(ngModel)]="selectedTeam.state">
        <option value="pending">Pending</option>
        <option value="active">Active</option>
        <option value="archived">Archived</option>
      </select>
    </div>
  </div>
  <!-- <div class="form-group row">
    <label for="team-members" class="col-3 col-form-label">Members</label>
    <div class="col-9">
      <ul>
        <li *ngFor="let member of []"></li>
      </ul>
    </div>
  </div> -->
</app-modal>

<app-modal name="delete-team-modal" title="Delete Team" (saveClicked)="deleteTeam()" [saveButtonText]="'Delete'" [saveButtonClass]="'btn-danger'">
  <p>
    Are you sure you want to delete team
    <span class="font-weight-bold">{{ selectedTeam?.name }}?</span>
  </p>
</app-modal>
