<div class="login-page">

  <div class="login-header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="undefined ns-fill-0" fill="#fff" width="32" height="32">
      <path d="M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z"/>
    </svg>
  </div>

  <div class="login-content">
    <form class="login-form">
      <h1 class="h3 mb-3 font-weight-normal text-center project-name">Project X</h1>

      <div class="input-with-icon">
        <i class="fas fa-user"></i>
        <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
      </div>

      <div class="input-with-icon">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" class="form-control" placeholder="password" required>
      </div>

      <button class="btn btn-lg btn-primary btn-block mt-3 mb-3" type="submit">Login</button>

      <p class="text-center">
        <a href="#" class="text-white">Forgot your password?</a>
      </p>
      <p class="text-center">
        <a href="#" class="text-white">Can't login?</a>
      </p>
    </form>
  </div>

  <div class="login-footer">
    <p class="text-center">
      Don't have any account?
      <a href="#" class="text-primary text-bold">Try Project X for free!</a>
    </p>
  </div>
</div>
