.organisation-options-dropdown-button {
  border: none;

  &::after {
    content: none;
  }

  & + .dropdown-menu {
    max-width: 250px;

    .current-organisation-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.user-options-dropdown-button {
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  border: none;

  &::after {
    content: none;
  }
}

.navbar {
  background-color: var(--primary-bg-color);
  min-height: 50px;

  justify-content: right;
}

.nav-items {
  &.active {
    border-bottom: 1px solid #fff;
  }
}
